@font-face {
  font-family: 'ProbaPro';
  src:
    url('../fonts/ProbaPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/ProbaPro-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ProbaPro';
  src:
    url('../fonts/ProbaPro-Regular.woff2') format('woff2'),
    url('../fonts/ProbaPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 425px;
  font-family: 'ProbaPro', sans-serif;
  font-weight: 400;
  background-color: #389274;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  align-items: center;
  min-width: 320px;
  width: 100%;
  padding: 15px 15px;
  padding-top: 50px;
  margin: 0 auto;
  flex-direction: column;
}

.main-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  color: #bdf3dcfb;
  font-weight: 700;
  font-style: italic;
}

.main-img {
  border-radius: 24px;
  margin-bottom: 20px;
}

.joke {
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.fingers {
  display: block;
  margin-bottom: 20px;
}

.joke-links {
  margin-bottom: 15px;
  width: 90%;
  justify-content: space-between;
}

.link {
  text-align: center;
  padding: 15px 30px;
  font-size: 19px;
  cursor: pointer;
  user-select: none;
  border-radius: 24px;
  font-family: 'ProbaPro', sans-serif;
}

.boy-link {
  background-color: #63d8f5;
}

.girl-link {
  background-color: #edb4f5;
}

.present-link {
  text-align: center;
  background-color: #c0b266;
}

@media (max-width: 390px) {
  .joke-links {
    margin-bottom: 10px;
    flex-direction: column;
  }

  .boy-link {
    margin-bottom: 10px;
  }
}
